.add-produtos{
    text-align: center;
}

.add-produtos h2{
    margin-top: 20px;
    text-align: center;
}

.form-group {
    text-align: left;
    margin-bottom: 5px;
}

.imagem-add-produtos{
    width: 100%;
    height: 150px;
    border: 1px solid black;
}

.img-produto{
    height: 150px;
}

.hide{
    display: none;
}