.signup h3{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    color: #000;
}

.error-form {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}